{% extends "base.html" %}
{% block content %}
<div class="mx-auto mt-3" style="width: 80%">
  <h1><a style = "color:DodgerBlue;">Enter the amount you'd like to give to each charity.</h1>
  <h1><a style = "color:Tomato;" href = "https://www.cancer.org/"class= "MenuLink">American Cancer Society</a></h1>
  <input type="text" class="form-control" id="inputDonation" placeholder="Enter Amount">
  <h1><a style = "color:Tomato;" href = "https://www.redcross.org/" class= "MenuLink">Red Cross</a></h1>
  <input type="text" class="form-control" id="inputDonation" placeholder="Enter Amount">
  <h1><a style = "color:Tomato;" href = "http://www.animalcharityofohio.org/" class= "MenuLink">Animal Charity Humane Society of Ohio</a></h1>
  <input type="text" class="form-control" id="inputDonation" placeholder="Enter Amount">
  <h1><a style = "color:Tomato;" href = "https://www.stjude.org/" class= "MenuLink">St. Judes Children Hospital</a></h1>
  <input type="text" class="form-control" id="inputDonation" placeholder="Enter Amount">
  <h1><a style = "color:Tomato;" href = "http://wish.org/" class= "MenuLink">Make a wish</a></h1>
  <input type="text" class="form-control" id="inputDonation" placeholder="Enter Amount">
  <li class="nav-item">
    <button type="button" class="btn btn-info">Touch me!</button>
  </li>
</div>
{% endblock %}