{% extends "base.html" %}
{% block head %}
<script src="{{ url_for('static', filename='js/RevUCCharity.js') }}"></script>
{% endblock %}

{% block content %}
<div class="mx-auto mt-3" style="width: 80%">
  <h2>Recent Donations ({{ '$%0.2f' | format(g.total_donation) }})</h2>
  <ul class ="list-group">
  {% for d in donations %}
    <li class = "list-group-item">{{ d.username }} - ${{ d.amount}}</li>
  {% endfor %}
  </ul>

  <form class="form-inline">
  <div class="form-group mb-2">
    <label for="Donation" class="sr-only">Donation</label>
    <input type="text" readonly class="form-control-plaintext" id="Donation" value="Donation:">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputPassword2" class="sr-only">Amount:</label>
    <td><input type="text" class="form-control" id="inputDonation" placeholder="Enter Amount">
    <button onclick="calculateChange()">Send</button></td>
  </div>
</div>
{% endblock %}

{% block endbody %}
<script type="text/javascript">
function calculateChange() {
  //var amount = 1.35;
  //alert("hello");
  var amount = document.getElementById("inputDonation").value;
  var rounded = roundUp(amount, 0);
  var change = (rounded - amount).toFixed(2);
  alert(change);
  postData(`${window.API_ROOT}/donate`, {
    change: change,
    timestamp: new Date().toISOString()});
}
function roundUp(num, precision) {
  precision = Math.pow(1, precision);
  return Math.ceil(num * precision);
}
function postData(url = ``, data = {}) {
  // Default options are marked with *
    return fetch(url, {
        method: "POST", // *GET, POST, PUT, DELETE, etc.
        mode: "no-cors", // no-cors, cors, *same-origin
        cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
        credentials: "same-origin", // include, *same-origin, omit
        headers: {
            "Content-Type": "application/json",
            // "Content-Type": "application/x-www-form-urlencoded",
        },
        redirect: "follow", // manual, *follow, error
        referrer: "no-referrer", // no-referrer, *client
        body: JSON.stringify(data), // body data type must match "Content-Type" header
    })
    .then(response => response.json()); // parses response to JSON
}
function subtract(aca = 0, rc = 0, achso = 0, sj = 0, maw = 0){
}
</script>
{% endblock %}