body {
  background-color: #4286f4;
}

.header {
  position:fixed;
  display: inline;
  left = 0;
  top = 0;
  width = 100%;
  height = 300px;
}

#logo {
  float:left;
  position:relative;
  margin-left = 10px;
  margin-top = 10px;
  height = 100%;
}

#menu {
  text-align: center;
  postition:inherit;
  margin-left: 10px;
  magin-top = 10px;
  height = 100%;
}

ul {
  float: left;
  position: inherit;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}

li {
  display: inline;
  float: left;
}

li a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #b5e0ff;
}


.MenuLink {
  text-align: center;
  font-size:40px;
  margin-left = 10px;
  margin-right = 10px;
}

#content {
  position : fixed;
  margin-left = 10%;
  margin-right = 10%;
  top = 500px;
  width = 100%;
  height = 100%;
  background-color:  #ffffff;
}

#login {
  float: right;
}
