body {
  background-color:
}

#header {
  position:absolute;
  left = 0;
  top = 0;
  width = 100%;
  height = 300px;
  overflow = auto;
}

#logo {
  position:inherit;
  left = 10px;
  top = 10px;
  height = 100%;
}

.MenuLink {
  text-align: center;
  font-size:40px;
}
